.section-background {
    background-color: #f8f9fa; /* Light grey background */
    padding: 4rem 0;
}
.badge-custom {
    background-color: #e6ccff; /* Light purple background */
    color: #6f42c1; /* Darker purple text */
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.image-container {
    position: relative;
}
.image-overlay {
    position: absolute;
    background-color: #6f42c1; /* Purple overlay color */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}